{
    "mode": "linered",
    "fixed_interval": 5.0,
    "random_min": 2.0,
    "random_max": 10.0,
    "seq_clicks": 3,
    "seq_interval": 2.0,
    "seq_wait": 20.0,
    "sensitivity": 0.8,
    "sensitivity_number": 0.65,
    "play_sounds": true,
    "auto_screenshot": false,
    "save_log": true,
    "image_button_path": "capturas/botao.png",
    "image_win_path": "capturas/win.png",
    "image_loss_path": "capturas/loss.png",
    "enable_stop_win": true,
    "stop_win": 5,
    "enable_stop_loss": true,
    "stop_loss": 1,
    "telegram_enabled": false,
    "telegram_token": "YOUR_TELEGRAM_BOT_TOKEN_HERE",
    "telegram_chat_id": "YOUR_TELEGRAM_CHAT_ID_HERE",
    "image_linered_path": "capturas/linered.png",
    "image_lineblue_path": "capturas/lineblue.png",
    "image_number_path": "capturas/number.png",
    "search_region": null,
    "use_search_region": false,
    "schedule_enabled": false,
    "schedule_date": "",
    "schedule_time": "",
    "win_value": 1.50,
    "loss_value": 30.00,
    "target_profit": 10.00,
    "finance_mode": "target",
    "free_entries": 10
}
